html {
	background-color: rgb(50,50,50);
	margin: auto;
	width: 50%;
	allign-left: auto;
	allign-right: auto;
	display: block;
	text-align: center;

}

body{
	font: Arial;
}

body {
	margin: 0;
	padding: 0;	
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: white;
	
}

div.ingredient-group:nth-child(odd) {
	float: left;
	padding-right: 20px;
}

div.ingredient-group:nth-child(even) {
    float: left;
	padding-right: 0;
}

div.ingredient-group {
	width: 33%;
	padding: 10px;
	text-align: left;
}

.grid:after {
  content: "";
  display: table;
  clear: both;
}
.grid {
	
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

span.validationError {
	color: red;
	
}

a {
	text-decoration: none;
	color: white;
	font-style: italic;
}