<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Taco Cloud</title>
    <link rel="stylesheet" th:href="@{/stylesA.css}" />
  </head>
  
  <body>
    <h1 th:text="${poruka}">Design your taco!</h1>
    <img th:src="@{/images/TacoCloud.png}"/>
        
    <form method="POST" th:object="${design}">
    
    	<span class="validationError"
          th:if="${#fields.hasErrors('ingredients')}" 
          th:errors="*{ingredients}">Ingredient Error</span>
    
    	<div class="grid">
			<div class="ingredient-group" id="wraps">
				<h3>Tortolja:</h3>
				<div th:each="ingredient : ${wrap}">
					<input name="ingredients" type="checkbox" th:value="${ingredient.id}"/>
					<span th:text="${ingredient.name}">INGREDIENT</span><br/>
				</div>
			</div>
			<div class="ingredient-group" id="protein">
				<h3>Meso:</h3>
				<div th:each="ingredient : ${protein}">
					<input name="ingredients" type="checkbox" th:value="${ingredient.id}"/>
					<span th:text="${ingredient.name}">INGREDIENT</span><br/>
				</div>
			</div>
			<div class="ingredient-group" id="veggies">
				<h3>Salata:</h3>
				<div th:each="ingredient : ${veggies}">
					<input name="ingredients" type="checkbox" th:value="${ingredient.id}"/>
					<span th:text="${ingredient.name}">INGREDIENT</span><br/>
				</div>
			</div>
			<div class="ingredient-group" id="cheese">
				<h3>Sir:</h3>
				<div th:each="ingredient : ${cheese}">
					<input name="ingredients" type="checkbox" th:value="${ingredient.id}"/>
					<span th:text="${ingredient.name}">INGREDIENT</span><br/>
				</div>
			</div>
			<div class="ingredient-group" id="sauce">
				<h3>Sos:</h3>
				<div th:each="ingredient : ${sauce}">
					<input name="ingredients" type="checkbox" th:value="${ingredient.id}"/>
					<span th:text="${ingredient.name}">INGREDIENT</span><br/>
				</div>
			</div>
		</div>
    
    	<div>
			<h3>Naziv Vaseg Taco-a:</h3>
			<input type="text" th:field="*{name}"/><br/>
			<!--   Naziv Taco-sa mora biti bar 5 karaktera   -->
			<span class="validationError"
            		th:if="${#fields.hasErrors('name')}"
            		th:errors="*{name}">Name Error</span>
            		
			<br/><button>Sacuvaj recepturu</button>
		</div>
		
	</form>
  </body>
</html>
